/**
CSS Code for Web App styles and formatting.
João Lucas Pires, Sara Ferreira
**/

html, body {
	background: url("../background.jpg") no-repeat center; 
}

.inputBox {
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
  display: inline-block;
  padding: 7px;
  border: 2px solid #d8d4d4;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(3,4,5,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
 
	/*Animate focus*/
	transition: 0.5s;
	-webkit-transition: 0.5s;
	outline: none;
}

.inputBox:focus {
	border: 2px solid #555;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
  margin: 40px 0px 70px;
  text-align: center;
}

.grid {
	
	border: 1px solid black;
}

.gwt-SplitLayoutPanel-HDragger {
  background: #e7e7e7;
  cursor: col-resize;
}
.gwt-SplitLayoutPanel-VDragger {
  background: #e7e7e7;
  cursor: row-resize;
}
.cw-DockPanel {
	width:98%;
	border: 1px solid black;
}
.topLeftCell {
	border: 3px solid black;
	background-color: yellow;
	width: 25%;
}

.topRightCell {
	border: 3px solid black;
	background-color: red;
}

.bottomLeftCell {
	border: 3px solid black;
	background-color: blue;
}

.bottomRightCell {
	border: 3px solid black;
	background-color: green;	
}

.divstyle {
	background-color: blue;
}

.roundFloatPanel {
	margin: 3px;
	padding: 3px;
	border-radius: 25px;
	border: 1px solid #A9A9A9; /*light grey*/
	background-color: #F5FFFA; /*mint cream*/
	-webkit-box-shadow: 3px 4px 16px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 16px -2px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 16px -2px rgba(0,0,0,0.75);
}

/**/
/*Estilos da Sara */
/**/

.label {
	display: block;
	font-size:10pt;
	text-align:left;
}

.pageTitle {
  font-family: 'Hind', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  color: white;
  text-align: center;
 
}

.sendButton {
 display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 6px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(50,50,50);
  -webkit-box-shadow: 2px 2px 1px 1px rgba(180,180,180,1) ;
  box-shadow: 2px 2px 1px 1px rgba(180,180,180,1) ;
  width: 70px;
}

.formPanel {
	padding:10px;
}

.menuicon {
	display: inline-block;
	width: 50px;
	height: auto;
	margin-left: 15%;
	margin-top: 10%;
	/*Animation*/
	transition: all .2s ease-in-out;
}

.menuicon:hover {
	transform: scale(1.1);
}

.sidePanel:hover ~ img {
	transform: scale(1.2);
}

.sidemenuLabel {
  	font-size: 15px;	
  	margin-top:50px;
  	color:black;
}

.menuPanelElement {
margin-right: 5%;
}

/*RootPanel*/
.rootPanel {
	background-color:transparent;
	height: 100%;
	width: 100%;
}

/*DockLayoutPanel*/
.dockLayoutPanel {
	margin-left:13px;
}

/*SidePanel*/
.sidePanel {
	width:30%;
	height:70%;
	transition: all .2s ease-in-out;
}

.sidePanel:hover {
	width:50%;
}

/*MenuPanel - contents of sidePanel*/
.menuPanel {
	height:100%;
	margin-top:50%;
	margin-left:10px;
}

/*MainPanel*/
.mainPanel {
	width: 90%;
	height: 70%;

}

/*WelcomePanel*/
.welcomePanel {
	margin-left:40%;
	margin-top:20%;
}

/*WelcomeText*/
.welcomeText {
font-family: Verdana, Geneva, sans-serif;
font-size: 25px;
letter-spacing: -1.4px;
word-spacing: 2px;
color: #000000;
text-shadow: 1px 1px 1px rgba(80,75,99,0.89);
}

.welcomeButton {
	margin:10px;
	padding:5px;
	width:100px;
	border-radius:25px;
	border:1px solid black;
	font-size:15px;
	display:inline;
	position:relative;
	left:50;
}

.welcomeButton:hover {
	background:grey;
}

.verticalCarListPanel {
	margin:7px;
}

.carText, .carButton, .carHeaderPanel {
	margin:5px;
}

.mapContainer {
	border-radius:25px;
}
